@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>VIIRS Status</h1>
    <p class="lead">This Site will one day give you telemetry and status information on the NPP VIIRS Instrument. If I don't get bored first.</p>
    <p><a href="http://npp.gsfc.nasa.gov/viirs.html" class="btn btn-primary btn-lg">Learn more about VIIRS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data Source</h2>
        <p>
            All data will be obtained from NOAA's open CLASS system
        </p>
        <p><a class="btn btn-default" href="http://www.class.ncdc.noaa.gov/saa/products/welcome">NOAA CLASS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NPP</h2>
        <p>VIIRS is flying on the Suomi National Polar-orbiting Partnership satellite. </p>
        <p><a class="btn btn-default" href="http://npp.gsfc.nasa.gov/suomi.html">Learn more about NPP &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CRIS</h2>
        <p>If this ever works for VIIRS, you can assume CrIS is next.</p>
        <p><a class="btn btn-default" href="http://npp.gsfc.nasa.gov/cris.html">Learn more about CrIS &raquo;</a></p>
    </div>
</div>